llama-cvector-generator filter=lfs diff=lfs merge=lfs -text
llama-gguf-hash filter=lfs diff=lfs merge=lfs -text
llama-gguf-split filter=lfs diff=lfs merge=lfs -text
llama-vdot filter=lfs diff=lfs merge=lfs -text
llama-q8dot filter=lfs diff=lfs merge=lfs -text
llama-batched-bench filter=lfs diff=lfs merge=lfs -text
llama-benchmark-matmult filter=lfs diff=lfs merge=lfs -text
llama-gritlm filter=lfs diff=lfs merge=lfs -text
llama-lookup filter=lfs diff=lfs merge=lfs -text
llama-perplexity filter=lfs diff=lfs merge=lfs -text
llama-lookahead filter=lfs diff=lfs merge=lfs -text
llama-speculative filter=lfs diff=lfs merge=lfs -text
llama-batched filter=lfs diff=lfs merge=lfs -text
llama-convert-llama2c-to-ggml filter=lfs diff=lfs merge=lfs -text
llama-eval-callback filter=lfs diff=lfs merge=lfs -text
llama-gbnf-validator filter=lfs diff=lfs merge=lfs -text
llama-imatrix filter=lfs diff=lfs merge=lfs -text
llama-infill filter=lfs diff=lfs merge=lfs -text
llama-passkey filter=lfs diff=lfs merge=lfs -text
llama-retrieval filter=lfs diff=lfs merge=lfs -text
llama-simple filter=lfs diff=lfs merge=lfs -text
llama-bench filter=lfs diff=lfs merge=lfs -text
llama-embedding filter=lfs diff=lfs merge=lfs -text
llama-llava-cli filter=lfs diff=lfs merge=lfs -text
llama-quantize filter=lfs diff=lfs merge=lfs -text
llama-quantize-stats filter=lfs diff=lfs merge=lfs -text
llama-server filter=lfs diff=lfs merge=lfs -text
llama-cli filter=lfs diff=lfs merge=lfs -text
llama-gguf filter=lfs diff=lfs merge=lfs -text
llama-lookup-create filter=lfs diff=lfs merge=lfs -text
llama-parallel filter=lfs diff=lfs merge=lfs -text
llama-save-load-state filter=lfs diff=lfs merge=lfs -text
llama-baby-llama filter=lfs diff=lfs merge=lfs -text
llama-export-lora filter=lfs diff=lfs merge=lfs -text
llama-lookup-merge filter=lfs diff=lfs merge=lfs -text
llama-lookup-stats filter=lfs diff=lfs merge=lfs -text
llama-tokenize filter=lfs diff=lfs merge=lfs -text
